body {
    font-family: 'Helvetica', sans-serif;
    color: #FFFFFF;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #101820;
}

img {
    max-width: 100%;
    height: auto;
}

/*
h1{ 
    display: flexbox;
    color: goldenrod;
    border-color: gold;    
}*/
